html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #212B31;
  background-color: #FFFFFF;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, hr {
  margin: 0;
}

.container-1 {
  width: 100%;
  max-width: 1086px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 769px) {
  .container-1 {
    padding: 0 5px;
    overflow: hidden;
  }
}

.container-2 {
  width: 100%;
  max-width: 1070px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 769px) {
  .container-2 {
    padding: 0 5px;
  }
}

/* Blocks */
.header {
  position: absolute;
  width: 100%;
  height: 9.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
}

.header.fixed {
  position: fixed;
  background-color: #FFFFFF;
  z-index: 100;
  height: auto;
}

@media (max-width: 991px) {
  .header {
    height: auto;
  }
}

.header-inner {
  padding: 0 1.5rem;
  width: 100%;
  max-width: 147rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .header-inner {
    height: auto;
    padding: 1rem;
  }
}

@media (max-width: 769px) {
  .header-inner {
    padding: 5px;
  }
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 44px;
}

.header-logo__img {
  height: 44px;
}

.header-logo__txt {
  margin: .85rem 0 .85rem .8rem;
  font-size: 2.2rem;
  color: #212B31;
  text-transform: uppercase;
}

.intro {
  height: auto;
  padding-top: 17rem;
  padding-bottom: 14.8rem;
  position: relative;
}

@media (max-width: 991px) {
  .intro {
    padding-top: 9rem;
  }
}

@media (max-width: 991px) {
  .intro {
    padding-bottom: 9.8rem;
  }
}

@media (max-width: 769px) {
  .intro {
    padding-bottom: 4.8rem;
  }
}

.intro-title {
  font-size: 4.8rem;
  line-height: 6.4rem;
  padding: 0 11.1rem;
  text-align: center;
  font-weight: 400;
  color: #212B31;
}

@media (max-width: 991px) {
  .intro-title {
    font-size: 3.8rem;
    line-height: 5.4rem;
  }
}

@media (max-width: 769px) {
  .intro-title {
    padding: 0 4.1rem;
  }
}

@media (max-width: 575px) {
  .intro-title {
    font-size: 2.8rem;
    line-height: 4.4rem;
    padding: 0 1.1rem;
  }
}

.buttons-block {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 991px) {
  .buttons-block {
    margin-top: 2rem;
  }
}

@media (max-width: 575px) {
  .buttons-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.intro-img {
  height: auto;
}

@media (max-width: 769px) {
  .intro-img {
    margin-bottom: 4.8rem;
  }
}

.intro-img__main {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 8.8rem;
  margin-bottom: 3.6rem;
}

@media (max-width: 991px) {
  .intro-img__main {
    margin-top: 3.8rem;
    margin-bottom: 2.6rem;
  }
}

@media (max-width: 769px) {
  .intro-img__main {
    margin-top: 2.8rem;
    margin-bottom: 1.6rem;
  }
}

.intro-img__bottom {
  display: block;
  width: 100%;
  height: auto;
}

.btn {
  height: 5rem;
  outline: 0;
  margin-right: 1.6rem;
  padding: .77em 1.46em;
  font-family: Arial;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.41;
  background-color: #212B31;
  color: #FFFFFF;
  border: 1px solid #212B31;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color .2s linear, -webkit-box-shadow .2s linear;
  transition: background-color .2s linear, -webkit-box-shadow .2s linear;
  transition: background-color .2s linear, box-shadow .2s linear;
  transition: background-color .2s linear, box-shadow .2s linear, -webkit-box-shadow .2s linear;
}

.btn:last-child {
  margin-right: 0;
}

.btn:hover {
  background-color: #2b3840;
  -webkit-box-shadow: 0 7px 17px rgba(33, 43, 49, 0.7);
          box-shadow: 0 7px 17px rgba(33, 43, 49, 0.7);
}

@media (max-width: 430px) {
  .btn {
    padding: .77em 1em;
  }
}

.btn--sm {
  padding: 0.6em 1.33em;
  font-size: 1.5rem;
  max-height: 3.4rem;
  line-height: 1.05;
}

.btn--sm:hover {
  background: #2b3840;
  -webkit-box-shadow: 0 5px 8px rgba(33, 43, 49, 0.7);
          box-shadow: 0 5px 8px rgba(33, 43, 49, 0.7);
}

@media (max-width: 1050px) {
  .btn--sm {
    display: none;
  }
}

@media (max-width: 575px) {
  .btn--sm {
    text-align: center;
  }
}

.btn--light {
  padding: 0.72em 1.48em;
  font-size: 1.8rem;
  line-height: 1.33;
  background: #FFFFFF;
  color: #212B31;
  border: 1px solid #DADEDF;
}

.btn--light:hover {
  background: #f5f6f7;
  -webkit-box-shadow: 0 7px 17px rgba(33, 43, 49, 0.7);
          box-shadow: 0 7px 17px rgba(33, 43, 49, 0.7);
}

.btn--left {
  width: 16.6rem;
  background: #FFFFFF;
  color: #212B31;
  border: none;
}

.btn--left:hover {
  background: #d9d9d9;
  -webkit-box-shadow: 0 7px 13px rgba(255, 255, 255, 0.3);
          box-shadow: 0 7px 13px rgba(255, 255, 255, 0.3);
}

@media (max-width: 575px) {
  .btn--left {
    max-width: 16.6rem;
  }
}

.btn--right {
  background: #212B31;
  border: none;
  border: 1px solid #DADEDF;
  color: #FFFFFF;
}

.btn--right:hover {
  background: #253037;
  -webkit-box-shadow: 0 7px 13px rgba(255, 255, 255, 0.3);
          box-shadow: 0 7px 13px rgba(255, 255, 255, 0.3);
}

@media (max-width: 575px) {
  .btn--right {
    max-width: 16.6rem;
  }
}

.btn--helper {
  min-width: 15.5rem;
  max-width: 16.8rem;
}

.btn--extra {
  min-width: 20.3rem;
}

@media (max-width: 575px) {
  .btn {
    width: 50%;
    display: block;
    margin: 0 auto 1rem;
  }
  .btn:last-child {
    margin: 0 auto 1rem;
  }
}

.burger {
  display: none;
  padding: 0;
  width: 3rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  right: 2.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background: none;
  font-size: 0;
  color: transparent;
  cursor: pointer;
  outline: none;
}

.burger:before, .burger:after,
.burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #212B31;
  position: absolute;
  right: 0;
}

.burger:before {
  content: "";
  top: 0;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.burger:after {
  content: "";
  bottom: 0;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.burger span {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.burger.active span {
  opacity: 0;
}

.burger.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger.active:before, .burger.active:after {
  top: 50%;
}

@media (max-width: 1050px) {
  .burger {
    display: block;
  }
}

.header-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1050px) {
  .header-navbar {
    display: none;
    width: 100%;
    position: absolute;
    right: 0;
    top: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #FFFFFF;
    margin: 0 auto;
  }
}

.header-navbar.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav {
  margin-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1150px) {
  .header-nav {
    margin-right: 1rem;
  }
}

@media (max-width: 1050px) {
  .header-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
  }
}

.header-nav__link {
  margin-right: 2.2rem;
  color: #72787D;
  text-decoration: none;
}

.header-nav__link:last-child {
  margin-right: 0;
}

.header-nav__link:hover {
  color: #036FC7;
}

.header-nav__link.active-link {
  color: #036FC7;
}

@media (max-width: 1150px) {
  .header-nav__link {
    margin-right: 0.8rem;
  }
}

@media (max-width: 1050px) {
  .header-nav__link {
    width: 100%;
    margin-right: 0;
    padding: 1rem;
    text-align: center;
  }
}

.improvements-blocks {
  margin-bottom: 14.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1150px) {
  .improvements-blocks {
    margin-bottom: 11.2rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 769px) {
  .improvements-blocks {
    margin-bottom: 6.2rem;
  }
}

@media (max-width: 575px) {
  .improvements-blocks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.improvements-block {
  margin-right: 4rem;
  width: 100%;
  max-width: 32.5rem;
  max-height: 17.4rem;
  text-align: center;
}

.improvements-block:last-child {
  margin-right: 0;
}

@media (max-width: 1150px) {
  .improvements-block {
    margin-right: 0;
    width: 30%;
    height: auto;
    max-height: 100%;
  }
}

@media (max-width: 575px) {
  .improvements-block {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.improvements-block__img {
  position: relative;
  margin: 0 auto 2rem;
  width: 4.8rem;
  height: 4.8rem;
  overflow: hidden;
}

.improvements-block__img:hover {
  background: #FFDD76;
  clip-path: fill-box;
  -webkit-clip-path: circle(60px at 90% 10%);
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  pointer-events: fill;
}

.improvements-block__img-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}

.improvements-block__title {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212B31;
}

.improvements-block__txt {
  color: #72787D;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

.construction {
  margin-bottom: 16.8rem;
}

@media (max-width: 575px) {
  .construction {
    margin-bottom: 7.8rem;
  }
}

.construction-main {
  margin-bottom: 14.4rem;
  text-align: center;
}

@media (max-width: 769px) {
  .construction-main {
    margin-bottom: 6.4rem;
  }
}

.construction-title {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212B31;
}

@media (max-width: 430px) {
  .construction-title {
    font-size: 2.2rem;
  }
}

.construction-text {
  margin: 0 1.3rem 4rem 1.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #72787D;
}

@media (max-width: 769px) {
  .construction-text {
    margin: 0 0 3rem;
    font-size: 1.5rem;
  }
}

.construction-img {
  display: block;
  width: 100%;
  height: auto;
}

.construction-footer {
  margin-left: 13rem;
  margin-right: 12.9rem;
  text-align: center;
}

@media (max-width: 769px) {
  .construction-footer {
    margin: 0;
  }
}

.construction-footer__title {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212B31;
}

@media (max-width: 769px) {
  .construction-footer__title {
    font-size: 2.2rem;
  }
}

@media (max-width: 575px) {
  .construction-footer__title {
    font-size: 1.5rem;
  }
}

.care {
  margin-bottom: 7.1rem;
}

.care-main {
  margin-right: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 991px) {
  .care-main {
    margin-right: 0;
  }
}

.care-main__left {
  width: 54%;
}

@media (max-width: 769px) {
  .care-main__left {
    width: 100%;
  }
}

.care-main__left-title {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212B31;
}

@media (max-width: 991px) {
  .care-main__left-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 769px) {
  .care-main__left-title {
    font-size: 2rem;
  }
}

.care-main__left-txt {
  margin-bottom: 2.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #72787D;
}

@media (max-width: 991px) {
  .care-main__left-txt {
    font-size: 1.7rem;
  }
}

@media (max-width: 769px) {
  .care-main__left-txt {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

.care-main__left-slogan {
  width: 25rem;
  height: 3.2rem;
  background: url(../img/slogan-bg.png) bottom no-repeat;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212B31;
}

.care-main__right {
  width: 46%;
}

@media (max-width: 769px) {
  .care-main__right {
    width: 100%;
  }
}

.care-main__img {
  display: block;
  width: 100%;
  max-width: 46.4rem;
  height: auto;
}

.logos {
  margin: 5.6rem 0;
}

@media (max-width: 991px) {
  .logos {
    margin: 5rem 0;
  }
}

.logos-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 769px) {
  .logos-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.logos-block__item {
  margin-right: 3.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logos-block__item:nth-child(5) {
  margin-right: 0;
}

.logos-block__item:last-child {
  margin: 0 auto;
}

@media (max-width: 430px) {
  .logos-block__item:last-child {
    margin: 0;
  }
}

@media (max-width: 1050px) {
  .logos-block__item {
    margin-right: 1.9rem;
  }
  .logos-block__item:nth-child(5) {
    margin-right: 1.9rem;
  }
  .logos-block__item:last-child {
    margin: 0;
  }
}

.logos-block__img {
  display: block;
  width: 100%;
  max-width: 18rem;
}

@media (max-width: 1050px) {
  .logos-block__img {
    max-width: 15rem;
  }
}

@media (max-width: 991px) {
  .logos-block__img {
    max-width: 100%;
  }
}

.delimiter {
  margin: 0 auto;
  width: 100%;
  max-width: 1088px;
  height: 1px;
  background: #EEF2F3;
  border: none;
}

.about {
  margin: 7.9rem 0 14.3rem;
}

@media (max-width: 991px) {
  .about {
    margin-bottom: 10.3rem;
  }
}

@media (max-width: 769px) {
  .about {
    margin: 7.9rem 0 8rem;
  }
}

@media (max-width: 575px) {
  .about {
    margin: 7.9rem 0 6rem;
  }
}

.about-title {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212B31;
  text-align: center;
}

@media (max-width: 575px) {
  .about-title {
    font-size: 2.5rem;
  }
}

.about-title__txt {
  padding: 2.1rem 11.4rem 2.8rem 11.5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #72787D;
  text-align: center;
}

@media (max-width: 769px) {
  .about-title__txt {
    padding: 1.5rem 0 2rem;
  }
}

@media (max-width: 575px) {
  .about-title__txt {
    font-size: 1.5rem;
  }
}

.about-block__delivery {
  margin-bottom: 6.4rem;
  margin-right: 6.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 991px) {
  .about-block__delivery {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .about-block__delivery {
    margin-bottom: 2.4rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.about-block__delivery-info {
  max-width: 59.6%;
  padding-right: 9.1rem;
}

@media (max-width: 769px) {
  .about-block__delivery-info {
    padding-right: 3.1rem;
  }
}

@media (max-width: 575px) {
  .about-block__delivery-info {
    margin-bottom: 1.5rem;
    padding-right: 0;
    max-width: 100%;
  }
}

.about-block__delivery-title {
  margin-top: 6.7rem;
  margin-bottom: 1.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  color: #212B31;
}

@media (max-width: 991px) {
  .about-block__delivery-title {
    margin-top: 2.7rem;
  }
}

@media (max-width: 769px) {
  .about-block__delivery-title {
    margin-top: 0.7rem;
  }
}

.about-block__delivery-txt {
  max-width: 50rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #72787D;
}

.about-block__delivery-img {
  width: 40.4%;
}

@media (max-width: 575px) {
  .about-block__delivery-img {
    width: 50%;
  }
}

.delivery-img {
  display: block;
  width: 100%;
  max-width: 40.2rem;
  height: auto;
}

.about-block__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 8.2rem;
  margin-bottom: 6.4rem;
}

@media (max-width: 991px) {
  .about-block__control {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .about-block__control {
    margin-bottom: 2.4rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.about-block__control-img {
  width: 36.8%;
}

@media (max-width: 575px) {
  .about-block__control-img {
    width: 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.control-img {
  display: block;
  width: 100%;
  max-width: 35.8rem;
  height: auto;
}

.about-block__control-info {
  max-width: 52.87%;
}

@media (max-width: 575px) {
  .about-block__control-info {
    max-width: 100%;
    margin-bottom: 1.5rem;
  }
}

.about-block__control-title {
  margin-top: 6.7rem;
  margin-bottom: 1.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  color: #212B31;
}

@media (max-width: 991px) {
  .about-block__control-title {
    margin-top: 2.7rem;
  }
}

@media (max-width: 769px) {
  .about-block__control-title {
    margin-top: 0.7rem;
  }
}

.about-block__control-txt {
  padding-right: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #72787D;
}

.about-block__data {
  margin-right: 5.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 991px) {
  .about-block__data {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .about-block__data {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.about-block__data-info {
  max-width: 55rem;
}

@media (max-width: 1050px) {
  .about-block__data-info {
    width: 50%;
  }
}

@media (max-width: 991px) {
  .about-block__data-info {
    max-width: 52%;
  }
}

@media (max-width: 575px) {
  .about-block__data-info {
    width: auto;
    max-width: 100%;
    margin-bottom: 1.5rem;
  }
}

.about-block__data-title {
  margin: 5.5rem 0 1.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  color: #212B31;
}

@media (max-width: 991px) {
  .about-block__data-title {
    margin-top: 2.7rem;
  }
}

@media (max-width: 769px) {
  .about-block__data-title {
    margin-top: 0.7rem;
  }
}

.about-block__data-txt {
  padding-right: 5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #72787D;
}

@media (max-width: 575px) {
  .about-block__data-txt {
    padding-right: 0;
  }
}

.about-block__data-img {
  margin-left: 3.4rem;
}

@media (max-width: 769px) {
  .about-block__data-img {
    width: 48%;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 575px) {
  .about-block__data-img {
    width: 50%;
  }
}

.data-img {
  display: block;
  width: 100%;
  height: auto;
}

.delivery {
  margin-bottom: 12.4rem;
}

@media (max-width: 769px) {
  .delivery {
    margin-bottom: 8.4rem;
  }
}

.delivery-title {
  margin-bottom: 2.1rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212B31;
  text-align: center;
}

@media (max-width: 575px) {
  .delivery-title {
    font-size: 2.5rem;
  }
}

.delivery-subtitle {
  margin-bottom: 4.3rem;
  padding-right: 20.7rem;
  padding-left: 20.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #72787D;
  text-align: center;
}

@media (max-width: 991px) {
  .delivery-subtitle {
    padding: 0;
  }
}

@media (max-width: 769px) {
  .delivery-subtitle {
    font-size: 1.8rem;
  }
}

@media (max-width: 1050px) {
  .delivery-blocks {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.delivery-blocks__row {
  margin-bottom: 3.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delivery-blocks__row:last-child {
  margin-bottom: 2.2rem;
}

@media (max-width: 1050px) {
  .delivery-blocks__row {
    width: 30%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (max-width: 991px) {
  .delivery-blocks__row {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.delivery-blocks__item {
  margin-right: 2.7rem;
  padding-left: 6.4rem;
  width: 33.3333%;
  max-width: 33.4rem;
  position: relative;
}

.delivery-blocks__item:last-child {
  margin-right: 0;
}

@media (max-width: 1150px) {
  .delivery-blocks__item {
    margin-right: 0.7rem;
  }
}

@media (max-width: 1050px) {
  .delivery-blocks__item {
    width: 100%;
    height: 32%;
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

@media (max-width: 991px) {
  .delivery-blocks__item {
    height: auto;
  }
}

.delivery-blocks__item-img {
  position: absolute;
  width: 4.8rem;
  height: 4.8rem;
  top: 0;
  left: 0;
}

.delivery-blocks__item-title {
  margin-bottom: 1.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.35;
  color: #212B31;
}

.delivery-blocks__item-txt {
  padding: 0.15rem 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #72787D;
}

.delivery-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #72787D;
}

@media (max-width: 575px) {
  .delivery-footer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.delivery-footer__colored-txt {
  margin-right: .4rem;
  background: url(../img/delivery/delivery-footer-bg.png) center bottom no-repeat;
  color: #212B31;
}

.reliability {
  margin-bottom: 14.4rem;
}

@media (max-width: 575px) {
  .reliability {
    margin-bottom: 8.4rem;
  }
}

.reliability-header {
  margin: 0 auto 1.7rem;
  width: 22.92rem;
  height: 6.65rem;
  position: relative;
}

.reliability-header__img {
  position: absolute;
  top: 0;
  right: 0;
}

.reliability-header__title {
  position: absolute;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212B31;
  left: 0;
  bottom: 0;
}

.reliability-main {
  padding-bottom: 6.2rem;
}

.reliability-main__txt {
  margin: 0 10rem 4.8rem 9.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #72787D;
  text-align: center;
}

@media (max-width: 769px) {
  .reliability-main__txt {
    margin: 0 0 4.8rem;
  }
}

@media (max-width: 575px) {
  .reliability-main__txt {
    font-size: 1.5rem;
  }
}

.reliability-main__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1050px) {
  .reliability-main__block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.reliability-main__block-item {
  margin-right: 3.3rem;
  width: 33.3333%;
  max-height: 24.6rem;
  text-align: center;
}

.reliability-main__block-item:last-child {
  margin-right: 0;
}

.reliability-main__block-item:nth-child(1) {
  max-width: 33.2rem;
}

.reliability-main__block-item:nth-child(2) {
  max-width: 33.3rem;
}

.reliability-main__block-item:nth-child(3) {
  max-width: 32.5rem;
}

@media (max-width: 1050px) {
  .reliability-main__block-item {
    width: auto;
    max-height: 100%;
    margin: 0;
  }
  .reliability-main__block-item:nth-child(1) {
    max-width: 31%;
  }
  .reliability-main__block-item:nth-child(2) {
    max-width: 31%;
  }
  .reliability-main__block-item:nth-child(3) {
    max-width: 31%;
  }
}

@media (max-width: 769px) {
  .reliability-main__block-item:nth-child(1) {
    max-width: 100%;
  }
  .reliability-main__block-item:nth-child(2) {
    max-width: 100%;
  }
  .reliability-main__block-item:nth-child(3) {
    max-width: 100%;
  }
}

@media (max-width: 430px) {
  .reliability-main__block-item:nth-child(1) {
    margin-bottom: 1rem;
  }
  .reliability-main__block-item:nth-child(2) {
    margin-bottom: 1rem;
  }
  .reliability-main__block-item:nth-child(3) {
    margin-bottom: 1rem;
  }
}

.reliability-block__item-img {
  margin-bottom: 1.9rem;
}

@media (max-width: 430px) {
  .reliability-block__item-img {
    margin-bottom: 1rem;
  }
}

.reliability-block__item-title {
  margin-bottom: 1.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  color: #212B31;
}

.reliability-block__item-txt {
  min-height: 14.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #72787D;
}

.reliability-footer {
  padding: 4rem;
  min-height: 13rem;
  background: #F6F8F9;
  border-radius: 5px;
}

.reliability-footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575px) {
  .reliability-footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.reliability-footer__logo-img {
  width: 3.567rem;
  height: 3.617rem;
}

.reliability-footer__txt {
  padding: .9rem 6.6rem .9rem 2.617rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2;
  color: #212B31;
}

@media (max-width: 575px) {
  .reliability-footer__txt {
    padding: .9rem 0;
    text-align: center;
  }
}

.created {
  padding: 14.3rem 0 11.8rem;
  background: #212B31;
  overflow: hidden;
}

@media (max-width: 430px) {
  .created {
    padding: 6.3rem 0 5.8rem;
  }
}

.created-content {
  margin-bottom: 12.7rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1150px) {
  .created-content {
    overflow: hidden;
  }
}

@media (max-width: 430px) {
  .created-content {
    margin-bottom: 6rem;
  }
}

.created-content__info {
  width: 55.77%;
  margin-right: 5.3rem;
}

@media (max-width: 575px) {
  .created-content__info {
    width: 100%;
    margin-right: 0;
  }
}

.created-content__info-title {
  margin-bottom: 5rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #FFFFFF;
}

@media (max-width: 430px) {
  .created-content__info-title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
}

.created-content__info-list {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  list-style: none;
}

.created-content__info-item {
  position: relative;
  margin-bottom: 2.4rem;
  padding-left: 4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  color: #FFFFFF;
}

.created-content__info-item:last-child {
  margin-bottom: 5rem;
}

@media (max-width: 575px) {
  .created-content__info-item:last-child {
    margin-bottom: 3rem;
  }
}

.created-content__info-item:before {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #FFFFFF;
  top: 0.9rem;
  left: 0;
  z-index: 2;
}

@media (max-width: 430px) {
  .created-content__info-item {
    padding-left: 2rem;
  }
}

.created__info-item-title {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  color: #FFFFFF;
}

.created__info-item-txt {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.75);
}

@media (max-width: 430px) {
  .created__info-item-txt {
    font-size: 1.4rem;
  }
}

.created-content__iphone {
  position: absolute;
  width: 100%;
  max-width: 60.6rem;
  top: 0;
  right: -19.2rem;
}

@media (max-width: 1150px) {
  .created-content__iphone {
    position: static;
    width: 42%;
  }
}

@media (max-width: 575px) {
  .created-content__iphone {
    display: none;
  }
}

.created-content__iphone-img {
  display: block;
  width: 100%;
  max-width: 60.6rem;
  height: auto;
}

@media (max-width: 1150px) {
  .created-content__iphone-img {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575px) {
  .buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 430px) {
  .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.created-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.created-footer__item {
  width: 32.1%;
  max-width: 34rem;
  text-align: center;
}

@media (max-width: 430px) {
  .created-footer__item {
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 100%;
  }
}

.created-footer__item-img {
  margin: 0 auto 2rem;
}

.created-footer__item-title {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  color: #FFFFFF;
}

.created-footer__item-txt {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.75);
}

.howtowork {
  margin: 14.3rem 0 9.6rem;
}

@media (max-width: 769px) {
  .howtowork {
    margin: 8.3rem 0 6.6rem;
  }
}

@media (max-width: 575px) {
  .howtowork {
    margin: 6.3rem 0 4.6rem;
  }
}

.howtowrk-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 769px) {
  .howtowrk-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.howtowork-left {
  width: 43.7%;
  max-width: 46.2rem;
}

@media (max-width: 769px) {
  .howtowork-left {
    width: 100%;
    max-width: 76.8rem;
    text-align: center;
  }
}

.howtowork-left__title {
  margin-bottom: 2.1rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212B31;
}

@media (max-width: 575px) {
  .howtowork-left__title {
    font-size: 2.4rem;
  }
}

.howtowork-left__txt {
  margin-bottom: 6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #72787D;
}

@media (max-width: 769px) {
  .howtowork-left__txt {
    margin-bottom: 3rem;
  }
}

@media (max-width: 575px) {
  .howtowork-left__txt {
    font-size: 1.5rem;
  }
}

.howtowrk-left__img {
  display: block;
  width: 100%;
  max-width: 33.6rem;
  height: auto;
}

@media (max-width: 769px) {
  .howtowrk-left__img {
    margin: 0 auto;
  }
}

.howtowork-right {
  width: 49.2%;
  max-width: 52rem;
}

@media (max-width: 769px) {
  .howtowork-right {
    width: 100%;
    max-width: 76.8rem;
  }
}

.howtowrk-right__item {
  margin-bottom: 3rem;
  padding-left: 7.2rem;
  position: relative;
}

@media (max-width: 430px) {
  .howtowrk-right__item {
    padding-left: 4rem;
  }
}

.howtowork-right__item-num {
  position: absolute;
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #DADEDF;
  top: 0;
  left: 0;
}

@media (max-width: 430px) {
  .howtowork-right__item-num {
    width: 3rem;
    height: 3rem;
  }
}

.howtowork-right__item-title {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.41;
  color: #212B31;
}

.howtowork-right__item-txt {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #72787D;
}

.clients {
  margin-bottom: 14.9rem;
}

@media (max-width: 575px) {
  .clients {
    margin-bottom: 6rem;
  }
}

.clients-title {
  margin-bottom: 1.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212B31;
  text-align: center;
}

@media (max-width: 575px) {
  .clients-title {
    font-size: 2.5rem;
  }
}

.clients-subtitle {
  margin-bottom: 5.5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212B31;
  text-align: center;
}

@media (max-width: 575px) {
  .clients-subtitle {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
}

.clients-inner {
  margin-bottom: 12.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.clients-advantages {
  margin-right: 7.8rem;
  width: 43.3%;
}

@media (max-width: 1150px) {
  .clients-advantages {
    margin-right: 0;
    margin-bottom: 2rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.clients-advantages__item {
  margin-bottom: 3rem;
  position: relative;
  padding-left: 6.4rem;
}

.clients-advantages__item:last-child {
  margin-bottom: 0;
}

.clients-advantages__item:nth-child(2) {
  padding-right: 3.8rem;
}

@media (max-width: 991px) {
  .clients-advantages__item:nth-child(2) {
    padding-right: 0;
  }
}

.clients-advantages__item:nth-child(3) {
  padding-right: 1.8rem;
}

@media (max-width: 1150px) {
  .clients-advantages__item {
    padding-right: 0;
    width: 50%;
  }
}

@media (max-width: 769px) {
  .clients-advantages__item {
    padding-left: 4rem;
  }
}

@media (max-width: 575px) {
  .clients-advantages__item {
    width: 100%;
  }
}

.clients__item-img {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 769px) {
  .clients__item-img {
    height: 3rem;
    width: 3rem;
  }
}

.clients-item__title {
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  color: #212B31;
}

.clients-item__txt {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #72787D;
}

.clients-reviews {
  max-width: 61.4rem;
  height: 100%;
  max-height: 51.6rem;
  background-color: #F6F8F9;
  border-radius: 5px;
  position: absolute;
  padding: 4.5rem 9.2rem 5.6rem 4.1rem;
  top: 0;
  right: -9.4rem;
}

@media (max-width: 1150px) {
  .clients-reviews {
    position: static;
    width: 100%;
    max-width: 105rem;
  }
}

@media (max-width: 575px) {
  .clients-reviews {
    padding: 2rem;
  }
}

.reviews-slider {
  height: 41.4rem;
  overflow: hidden;
}

.reviews-slider.slick-initialized {
  height: auto;
  overflow: visible;
}

.clients-reviews__item {
  width: 100%;
  height: 100%;
  max-height: 41.4rem;
  padding: 1.5rem 0 3.6rem 4.5rem;
  position: relative;
}

@media (max-width: 1150px) {
  .clients-reviews__item {
    height: auto;
  }
}

.clients-reviews__item-img {
  position: absolute;
  top: 0;
  left: 0;
}

.clients-reviews__item-txt {
  margin-bottom: 2.8rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212B31;
}

@media (max-width: 575px) {
  .clients-reviews__item-txt {
    font-size: 2rem;
  }
}

@media (max-width: 430px) {
  .clients-reviews__item-txt {
    font-size: 1.5rem;
  }
}

.clients-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients-preson__info {
  padding-top: 0.4rem;
  padding-left: 0.8rem;
}

.clients-person__name {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.18;
  color: #212B31;
}

@media (max-width: 430px) {
  .clients-person__name {
    font-size: 1.2rem;
  }
}

.clients-person__position {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.18;
  color: #72787D;
}

@media (max-width: 430px) {
  .clients-person__position {
    font-size: 1.2rem;
  }
}

.clients-logos {
  margin: 0 auto;
  width: 100%;
  max-width: 67.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1050px) {
  .clients-logos {
    margin: 0;
    width: 100%;
    max-width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
  }
}

.clients-logos__item {
  position: relative;
  padding-top: 14.4rem;
  margin-bottom: 4.1rem;
  height: 20.1rem;
  text-align: center;
}

.clients-logos__item:nth-child(1) {
  margin-right: 11.9rem;
  max-width: 12.6rem;
}

.clients-logos__item:nth-child(2) {
  margin-right: 10.1rem;
  max-width: 16.4rem;
}

.clients-logos__item:nth-child(3) {
  max-width: 16.2rem;
}

.clients-logos__item:nth-child(4) {
  margin-bottom: 0;
  max-width: 18.4rem;
}

@media (max-width: 1050px) {
  .clients-logos__item {
    width: 20%;
  }
  .clients-logos__item:nth-child(1) {
    margin-right: 0;
  }
  .clients-logos__item:nth-child(2) {
    margin-right: 0;
  }
  .clients-logos__item:nth-child(3) {
    margin-right: 0;
  }
  .clients-logos__item:nth-child(4) {
    margin-bottom: 4.1rem;
  }
}

@media (max-width: 769px) {
  .clients-logos__item {
    width: 50%;
    text-align: center;
  }
  .clients-logos__item:nth-child(1) {
    max-width: 50%;
  }
  .clients-logos__item:nth-child(2) {
    max-width: 50%;
  }
  .clients-logos__item:nth-child(3) {
    max-width: 50%;
  }
  .clients-logos__item:nth-child(4) {
    max-width: 50%;
  }
}

@media (max-width: 430px) {
  .clients-logos__item {
    width: 100%;
    text-align: center;
  }
  .clients-logos__item:nth-child(1) {
    max-width: 100%;
  }
  .clients-logos__item:nth-child(2) {
    max-width: 100%;
  }
  .clients-logos__item:nth-child(3) {
    max-width: 100%;
  }
  .clients-logos__item:nth-child(4) {
    max-width: 100%;
  }
}

.clients-logos__img {
  position: absolute;
  top: 0;
  left: 0;
}

.clients-logos__img--second {
  top: 1.2rem;
}

@media (max-width: 769px) {
  .clients-logos__img--second {
    top: 0;
  }
}

@media (max-width: 769px) {
  .clients-logos__img {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 575px) {
  .clients-logos__txt {
    padding: 0 1rem;
  }
}

.slick-dots {
  position: absolute;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 50%;
  bottom: 0;
  left: 45px;
  z-index: 150;
}

.slick-dots .slick-active button {
  background: rgba(3, 111, 199, 0.2);
}

.slick-dots button {
  margin-right: .8rem;
  width: 8px;
  height: 8px;
  padding: 0;
  border: 0;
  background: #036FC7;
  font-size: 0;
  color: transparent;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
}

.slick-slide {
  outline: 0;
}

.slick-track {
  width: auto;
  height: 100%;
}

.contact {
  margin-bottom: 16rem;
}

@media (max-width: 769px) {
  .contact {
    margin-bottom: 5rem;
  }
}

.contact-inner {
  margin-bottom: 15rem;
  padding: 11.7rem 3.8rem;
  width: 100%;
  height: 46.6rem;
  background: url("../img/contact-bg.png") center no-repeat;
  background-size: cover;
  text-align: center;
}

@media (max-width: 991px) {
  .contact-inner {
    margin-bottom: 10rem;
  }
}

@media (max-width: 769px) {
  .contact-inner {
    height: auto;
  }
}

@media (max-width: 575px) {
  .contact-inner {
    padding: 4rem 1.8rem;
    margin-bottom: 5rem;
  }
}

.contact-title {
  margin-bottom: 5.4rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.33;
  color: #212B31;
}

@media (max-width: 991px) {
  .contact-title {
    margin-bottom: 0;
    font-size: 3.8rem;
  }
}

@media (max-width: 769px) {
  .contact-title {
    font-size: 2.8rem;
  }
}

.contact-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1050px) {
  .contact-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.contact-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1050px) {
  .contact-detail {
    width: 20%;
  }
}

@media (max-width: 991px) {
  .contact-detail {
    width: 25%;
  }
}

@media (max-width: 991px) {
  .contact-detail {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 769px) {
  .contact-detail {
    text-align: center;
    margin-bottom: 2rem;
  }
}

@media (max-width: 575px) {
  .contact-detail {
    margin-bottom: 1rem;
  }
}

.contact-logo {
  margin-bottom: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 769px) {
  .contact-logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact-logo__img {
  margin-right: .8rem;
  width: 2.2rem;
  height: 3.3rem;
}

.contact-logo__txt {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.18;
  color: #212B31;
}

.contact-address {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
  color: #72787D;
}

.contact-link {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #72787D;
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}

.fb-link {
  width: 2.4rem;
  height: 2.4rem;
  margin-top: 2rem;
}

@media (max-width: 769px) {
  .fb-link {
    margin: 1rem auto 0;
  }
}

.contact-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 16rem;
}

@media (max-width: 1050px) {
  .contact-nav__item {
    margin-left: 0;
    width: 20%;
  }
}

@media (max-width: 575px) {
  .contact-nav__item {
    width: 30%;
    text-align: center;
  }
}

@media (max-width: 430px) {
  .contact-nav__item {
    width: 100%;
  }
}

.contact-nav__title {
  margin-bottom: 2.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212B31;
}

@media (max-width: 430px) {
  .contact-nav__title {
    margin-bottom: 1rem;
  }
}

.contact-nav__link {
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
  color: #72787D;
  text-decoration: none;
}

.contact-nav__link:hover {
  color: #036FC7;
}

.footer-inner {
  padding: 3.2rem 0 3.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #DADEDF;
}

.footer-txt {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #72787D;
}

@media (max-width: 430px) {
  .footer-txt {
    font-size: 1.3rem;
  }
}
