$black: #212B31;
$grey: #72787D;
$light-grey: #DADEDF;
$white: #FFFFFF;
$blue: #036FC7;
$yellow: #FFDD76;

$desktop-sm: 1150px;
$tablet-bp-wide: 1050px;
$tablet-bp: 991px;
$mobile-bp: 767px;
$mobile-bp-sm: 575px;