.btn {
    height: 5rem;
    outline: 0;
    margin-right: 1.6rem;
    padding: .77em 1.46em; 
    font-family: Arial;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.41;
    background-color: $black;
    color: $white;
    border: 1px solid $black;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .2s linear, box-shadow .2s linear;

    &:last-child {
        margin-right: 0;
    }
    &:hover {
        background-color: lighten($black, 5%);
        box-shadow: 0 7px 17px  rgba($black, .7);
    }
    @include breakpoint($mobile-bp-ultra-sm) {
        padding: .77em 1em;
    }
    &--sm {
        padding: 0.6em 1.33em;
        font-size: 1.5rem;
        max-height: 3.4rem;
        line-height: 1.05;
        &:hover {
            background: lighten($black, 5%);
            box-shadow: 0 5px 8px  rgba($black, .7);
        }
        @include breakpoint($tablet-bp-wide) {
            display: none;
        }
        @include breakpoint($mobile-bp-sm) {
            text-align: center;
        }
    }
    &--light {
        padding: 0.72em 1.48em;
        font-size: 1.8rem;
        line-height: 1.33;
        background: $white;
        color: $black;
        border: 1px solid $light-grey;

        &:hover {
            background: lighten($light-grey, 10%);
            box-shadow: 0 7px 17px  rgba($black, .7);
        }
    }
    &--left {
        width: 16.6rem;
        background: $white; 
        color: $black;
        border: none;
        

        &:hover {
            background: darken($white, 15%);
            box-shadow: 0 7px 13px rgba($white, 0.3);
        }
        @include breakpoint($mobile-bp-sm) {
            max-width: 16.6rem;
        }
    }
    &--right {
        background: $black; 
        border: none;
        border: 1px solid $light-grey;
        color: $white;

        &:hover {
            background: lighten($black, 2%);
            box-shadow: 0 7px 13px rgba($white, 0.3);
        }
        @include breakpoint($mobile-bp-sm) {
            max-width: 16.6rem;
        }
    }
    &--helper {
        min-width: 15.5rem;
        max-width: 16.8rem;
    }
    &--extra {
        min-width: 20.3rem;
    }
    @include breakpoint($mobile-bp-sm) {
        width: 50%;
        display: block;
        margin: 0 auto 1rem;
        &:last-child {
            margin: 0 auto 1rem;
        }
    }
}
.burger {
    display: none;
    padding: 0;
    width: 3rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    right: 2.5rem;
    transform: translateY(-50%);
    border: none;
    background: none;
    font-size: 0;
    color: transparent;
    cursor: pointer;
    outline: none;

    &:before,
    &:after,
    span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: $black;
        position: absolute;
        right: 0;
    }
    &:before {
        content: "";
        top: 0;
        transition: transform .2s linear;
    }
    &:after {
        content: "";
        bottom: 0;
        transition: transform .2s linear;
    }
    span {
        top: 50%;
        transform: translateY(-50%);
        transition: opacity .2s linear;
    }
    &.active {
        span {
            opacity: 0;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
        &:before,
        &:after {
            top: 50%;
        }
    }

    @include breakpoint($tablet-bp-wide) {
        display: block;
    }
}
