.btn {
    height: 5rem;
    outline: 0;
    margin-right: 1.6rem;
    padding: .77em 1.46em; 
    // display: flex;
    // align-items: center;
    font-family: Arial;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.41;
    background-color: $black;
    color: $white;
    border: 1px solid $black;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .2s linear, box-shadow .2s linear;

    &:last-child {
        margin-right: 0;
    }
    &:hover {
        background-color: lighten($black, 5%);
        box-shadow: 0 7px 17px  rgba($black, .7);
    }
    &--sm {
        padding: 0.6em 1.33em;
        font-size: 1.5rem;
        max-height: 3.4rem;
        line-height: 1.05;
        &:hover {
            background: lighten($black, 5%);
            box-shadow: 0 5px 8px  rgba($black, .7);
        }
    }
    &--light {
        padding: 0.72em 1.48em;
        font-size: 1.8rem;
        line-height: 1.33;
        background: $white;
        color: $black;
        border: 1px solid $light-grey;

        &:hover {
            background: lighten($light-grey, 10%);
            box-shadow: 0 7px 17px  rgba($black, .7);
        }
    }
    &--left {
        width: 16.6rem;
        background: $white; 
        color: $black;
        border: none;
        // border: 1px solid $light-grey;

        &:hover {
            background: darken($white, 15%);
            box-shadow: 0 7px 13px rgba($white, 0.3);
        }
    }
    &--right {
        background: $black; 
        border: none;
        border: 1px solid $light-grey;
        color: $white;

        &:hover {
            background: lighten($black, 2%);
            box-shadow: 0 7px 13px rgba($white, 0.3);
        }
    }
}
