.care {
    margin-bottom: 7.1rem;
}
.care-main {
    margin-right: 5rem;
    display: flex;
    flex-wrap: wrap;
    @include breakpoint($tablet-bp) {
        margin-right: 0;
    }
}
.care-main__left {
    width: 54%;
    @include breakpoint($mobile-bp) {
        width: 100%;
    }
}
.care-main__left-title {
    margin-bottom: 1.6rem;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: $black;
    @include breakpoint($tablet-bp) {
        font-size: 2.5rem;
    }
    @include breakpoint($mobile-bp) {
        font-size: 2rem;
    }
}
.care-main__left-txt {
    margin-bottom: 2.8rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
    color: $grey;
    @include breakpoint($tablet-bp) {
        font-size: 1.7rem;
    }
    @include breakpoint($mobile-bp) {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
}
.care-main__left-slogan {
    width: 25rem;
    height: 3.2rem;
    background: url(../img/slogan-bg.png) bottom no-repeat;
    font-size: 2rem;    
    font-weight: 400;
    line-height: 1.6;
    color: $black;
}
.care-main__right {
    width: 46%;
    @include breakpoint($mobile-bp) {
        width: 100%;
    }
}
.care-main__img {
    display: block;
    width: 100%;
    max-width: 46.4rem;
    height: auto;
}
