.construction {
    margin-bottom: 16.8rem;
}
.construction-main {
    margin-bottom: 14.4rem;
    text-align: center;
}
.construction-title {
    margin-bottom: 1.6rem;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: $black;
    
}
.construction-text {
    margin: 0 1.3rem 4rem 1.2rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
    color: $grey;
    
}
.construction-img {
    display: block;
    width: 100%;
    height: auto;
}
.construction-footer {
    margin-left: 13rem;
    margin-right: 12.9rem;
    text-align: center;
}
.construction-footer__title {
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: $black;
}