.created {
    padding: 14.3rem 0 11.8rem;
    background: $black;
    overflow: hidden;
    @include breakpoint($mobile-bp-ultra-sm) {
        padding: 6.3rem 0 5.8rem;
    }
}
.created-content {
    margin-bottom: 12.7rem;
    position: relative;
    display: flex;
    @include breakpoint($desktop-sm) {
        overflow: hidden;
    }
    @include breakpoint($mobile-bp-ultra-sm) {
        margin-bottom: 6rem;
    }
}
.created-content__info {
    width: 55.77%;
    margin-right: 5.3rem;
    @include breakpoint($mobile-bp-sm) {
        width: 100%;
        margin-right: 0;
    }
}
.created-content__info-title {
    margin-bottom: 5rem;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: $white;
    @include breakpoint($mobile-bp-ultra-sm) {
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }
}
.created-content__info-list {
    margin: 0;
    padding: 0;
    color: $white;
    list-style: none;
}
.created-content__info-item {
    position: relative;
    margin-bottom: 2.4rem;
    padding-left: 4rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.33;
    color: $white;

    &:last-child {
        margin-bottom: 5rem;
        @include breakpoint($mobile-bp-sm) {
            margin-bottom: 3rem;
        }
    }
    &:before {
        content: "";
        position: absolute;
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        background-color: $white;
        top: 0.9rem;
        left: 0;
        z-index: 2;
    }
    @include breakpoint($mobile-bp-ultra-sm) {
        padding-left: 2rem;
    }
}
.created__info-item-title {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.33;
    color: $white;
}
.created__info-item-txt {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba($white, .75);
    @include breakpoint($mobile-bp-ultra-sm) {
        font-size: 1.4rem;
    }
}
.created-content__iphone {
    position: absolute;
    width: 100%;
    max-width: 60.6rem;
    top: 0;
    right: -19.2rem;
    @include breakpoint($desktop-sm) {
        position: static;
        width: 42%;
    }
    @include breakpoint($mobile-bp-sm) {
        display: none;
    }
}
.created-content__iphone-img {
    display: block;
    width: 100%;   
    max-width: 60.6rem;
    height: auto;
    @include breakpoint($desktop-sm) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

    }
}
.buttons {
    display: flex;
    
    align-items: center;
    @include breakpoint($mobile-bp-sm) {
        flex-wrap: wrap;
    }
    @include breakpoint($mobile-bp-ultra-sm) {
        flex-direction: column;
    }
}
.created-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.created-footer__item {
    width: 32.1%;
    max-width: 34rem;
    text-align: center;
    @include breakpoint($mobile-bp-ultra-sm) {
        margin-bottom: 1.5rem;
        width: 100%;
        max-width: 100%;
    }
}
.created-footer__item-img {
    margin: 0 auto 2rem;
}
.created-footer__item-title {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.33;
    color: $white;
}
.created-footer__item-txt {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba($white, 0.75);
}