.header {
    position: relative;
    padding: 0 1.5rem;
    width: 100%;
    max-width: 147rem;
    height: 9.6rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint($tablet-bp) {
        height: auto;
        padding: 1rem;
    }
}
.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 44px;
}
.header-logo__img {
    height: 44px;
}
.header-logo__txt {
    margin: .85rem 0 .85rem .8rem;
    font-size: 2.2rem;
    color: $black;
    text-transform: uppercase;
}

