.header {
    position: absolute;
    width: 100%;
    height: 9.6rem;
    display: flex;
    align-items: center;
    top: 0; 
    
    &.fixed {
        position: fixed;  
        background-color: $white;
        z-index: 100;
        height: auto;
    }
    @include breakpoint($tablet-bp) {
        height: auto;
    }
}
.header-inner {
    padding: 0 1.5rem;
    width: 100%;
    max-width: 147rem;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint($tablet-bp) {
        height: auto;
        padding: 1rem;
    }
    @include breakpoint($mobile-bp) {
        padding: 5px;
    }
    
}
.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 44px;
}
.header-logo__img {
    height: 44px;
}
.header-logo__txt {
    margin: .85rem 0 .85rem .8rem;
    font-size: 2.2rem;
    color: $black;
    text-transform: uppercase;
}

