.header-navbar {
    display: flex;

    @include breakpoint($tablet-bp-wide) {
        display: none;
        width: 100%;
        position: absolute;
        right: 0;
        top: 100%;
        flex-direction: column;
        background-color: $white;
        margin: 0 auto;
    }
    &.show {
        display: flex;
    }
}
.header-nav {
    margin-right: 2rem;
    display: flex;
    align-items: center;
    @include breakpoint($desktop-sm) {
        margin-right: 1rem;
    }
    @include breakpoint($tablet-bp-wide) {
        flex-direction: column;
        margin-right: 0;
    }
}
.header-nav__link {
    margin-right: 2.2rem;
    color: $grey;
    text-decoration: none;

    &:last-child {
        margin-right: 0;
    }
    &:hover {
        color: $blue;
    }
    &.active-link {
        color: $blue;
    }

    @include breakpoint($desktop-sm) {
        margin-right: 0.8rem;
    }
    @include breakpoint($tablet-bp-wide) {
        width: 100%;
        margin-right: 0;
        padding: 1rem;
        text-align: center;
    }
}
