.header-navbar {
    display: flex;

    @include breakpoint($tablet-bp-wide) {
        display: none;
    }
}
.header-nav {
    margin-right: 2rem;
    display: flex;
    align-items: center;
    @include breakpoint($desktop-sm) {
        margin-right: 1rem;
    }
}
.header-nav__link {
    margin-right: 2.2rem;
    color: $grey;
    text-decoration: none;

    &:last-child {
        margin-right: 0;
    }
    &:hover {
        color: $blue;
    }

    @include breakpoint($desktop-sm) {
        margin-right: 0.8rem;
    }
}
.link-active {
    color: $blue;
}